@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    .formclass{
        @apply w-full border-4 border-blue-900 
    },

    .formrijhalf{
        @apply flex w-1/2 mt-2
    },

    .formrij{
        @apply flex mt-2 
    },

    .form-2{
        @apply w-2/12 px-2

    },

    .form-3{
        @apply w-3/12 px-2
    }

    .form-6{
        @apply w-6/12 px-2
    }

    .form-8{
        @apply w-8/12 px-2
    },

    .formauto{
        @apply w-auto px-2
    },

    .formelement{
        @apply w-full px-2
    },

    .formlabel{
        @apply block mb-3 text-gray-500 text-xl
    },

    .forminput{
        @apply block w-full px-3 py-2 text-black
          border border-gray-300 rounded shadow-sm 
          focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:outline-none focus:ring-opacity-50
    },

    .formfout{
        @apply w-full text-red-500 italic text-sm
    },

    .formknop{
        @apply mx-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-xl
    },

    .tabel{
        @apply w-full bg-white border-4 px-40 text-2xl mt-10
    }

    .thead{
        @apply bg-gray-200 text-white
    }
    
    .mijn {
       @apply bg-red-700
    },

    .input{
        --tw-bg-opacity: 1;
        background-color: rgba(4, 120, 87, var(--tw-bg-opacity));
    }

    .hideMe {
        -webkit-animation: cssAnimation 5s forwards; 
        animation: cssAnimation 5s forwards;
    }   

    .flash{
        @apply text-2xl flex text-center bg-blue-500 text-white font-bold
        fixed bottom-0 right-0  rounded-xl shadow-lg border px-6 py-5 my-8 mx-6
        hideMe z-50
      }
    
    .titel {
        @apply mt-4 text-4xl font-bold text-center
    }

    .card {
        @apply w-full border-4 border-blue-900 text-center
    }

    .cardheader {
        @apply flex py-3 px-5 bg-gray-200 flow-root
    }

    .cardbody {
        @apply p-5
    }

    .cardtekst {
        @apply text-center text-xl
    }

    .cardknop {
        @apply  mx-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-xl
    }

    .adminkader {
        @apply container mx-auto
    }

    .adminrij {
        @apply flex flex-row gap-4
    }

    .kader {
        @apply container w-full bg-white border-4 px-40 text-2xl mt-10 mx-8
    }
    .tabelcontainer {
        display: grid;
        grid-auto-flow: column;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .tabelknop {
        @apply  mx-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-5 px-4 rounded text-base
    }

}